:root {
    font-family: sans-serif;
}

.menu {
    background-color: #252a3a;
    color: white;
    display: flex;
    flex-direction: column;
}

.top {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

#menuButton {
    margin-left: auto;
    padding: 10px;
    color: #1B98F8;
}

button {
    background-color: #1B98F8;
    color: white;
    border-radius: 20px;
    padding: 8px 16px;
    margin: 16px 0;
    outline: none;
    width: 100px;
    border: none;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.options {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.options span {
    padding: 5px;
}

.labels {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.labels h2 {
    color:#4b60a7;
    text-transform: uppercase;
    text-align: left;
    padding: 5px;
    font-weight: 600;
}

.box {
    display: flex;
    align-items: center;
}

.box span {
    padding: 5px;
}

.rectangle {
    width: 13px;
    height: 13px;
    border-radius: 3px;
}

.orange {
    background-color: rgb(228, 179, 89);
}
.teal {
    background-color: rgb(37, 165, 165);
}
.green {
    background-color: rgb(81, 150, 81);
}