body {
    background-color: rgb(57, 57, 80);
    display: flex;
    justify-content: center;
    font-family: sans-serif;
}

*{
    box-sizing: border-box;
}

.container {
    display: flex;
    width: 650px;
    justify-content: space-between;
    margin-top: 100px;
}

.box {
    width: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgb(231, 228, 228);
    box-shadow: 3px 0px 15px -2px rgba(0,0,0,0.77);
}

h2 {
    font-size: 30px;
    padding: 10px;
    border-bottom: 1px dotted rgb(151, 150, 150);
    text-align: center;
}

.dishList {
    padding: 10px;

}

li {
    padding: 5px 0;
    list-style-type: square;
}

.price {
    background-color: rgb(125, 143, 125);
    width: 100%;
    text-align: center;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}